---
import ThemeToggleButton from '../common/ThemeToggleButton';
import LanguageToggleButton from '../common/LanguageToggleButton';
import { useTranslations, Languages } from '../../../i18n/ui';

const urlLang = Astro.url.pathname.split('/')[1];
const lang = (urlLang in Languages ? urlLang : 'es') as keyof typeof Languages;
const translations = useTranslations(lang);
---

<header
  class="sticky top-0 z-50 flex justify-between items-center border-b border-header-border px-4 md:px-8 bg-header backdrop-blur-md"
>
  <nav>
    <ul class="flex gap-10 items-center py-6 font-medium">
      <li>
        <a
          href="#hero"
          class="text-muted hover:text-brand transition-colors"
        >
          {translations('home')}
        </a>
      </li>
      <li>
        <a
          href="#projects"
          class="text-muted hover:text-brand transition-colors"
        >
          {translations('projects')}
        </a>
      </li>
      <li>
        <a
          href="#stack"
          class="text-muted hover:text-brand transition-colors"
        >
          {translations('stack')}
        </a>
      </li>
    </ul>
  </nav>
  <div class="flex gap-4">
    <ThemeToggleButton client:load />
    <LanguageToggleButton initialPath={Astro.url.pathname} client:load />
  </div>
</header>
